@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

*, *:after, *:before { 
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

html { 
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100%; 
	padding: 0; 
	margin: 0; 
	height: 100%;
}

body {
	background: url('/images/symphony.png');
    font-size: 20pt;
    padding: 75px 0;
	margin: 0px;
}

h1{
	font-size: 2em;
}

.main-banner {
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/waves3.jpg");
	/* Set a specific height */
	/* height: 50%; */
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 0px;
}

.projects-banner {
	background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.8)), url("../images/wave.png");
	/* Set a specific height */
	height: 50%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.contact-banner {
	background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.7)), url("../images/curls2.jpg");
	/* Set a specific height */
	height: 50%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.about-banner {
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.95)), url("../images/waves2.jpg");
	/* Set a specific height */
	height: 50%;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.container {
	height: 100%;
	position: relative;
}

.content {
	text-align: center;
	color: black;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

/* section {
	opacity: 0;
  }
  
  section.is-visible {
	opacity: 1;
	transition: opacity 1000ms;
  } */

.content section {
  height: 100vh;
  width: 100%;
  padding: .3em;
  margin: 0 auto;
  padding-top: 50px;
  scroll-snap-align: center;
}


.btn {
	/*overflow: hidden;
	color: black;
	font-size: 1em;
	background: transparent;*/
	border: none;
	font-size: .7em;
	color: whitesmoke;
	padding: 5px 15px;
	background: transparent;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	opacity: 0;
	background: lightblue;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn:hover,
.btn:active {
	color: black;

}

.btn:hover:after {
	width: 90%;
	opacity: 1;
}

.btn:active:after {
	width: 101%;
	opacity: 1;
}

label {
	display: block;
	margin-top: 20px;
	letter-spacing: 1px;
}

input, textarea {
	width: 439px;
	height: 27px;
	background: #efefef;
	border: 1px solid black;
	padding: 10px;
	margin-top: 3px;
	font-size: .9em;
	color: #3a3a3a;
	border-radius: 5px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
}

textarea{
	height: 213px;
	margin: auto;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
	width: 127px;
	height: 38px;
	text-indent: -9999px;
	border: none;
	margin: 20 auto;
	cursor: pointer;
}

#submit:hover {
	opacity: .9;
}