*, *:after, *:before { 
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body, html { 
	font-size: 100%; 
	padding: 0; 
	margin: 0; 
	height: 100%;
}

body {
	background: url('/images/symphony.png');
    font-size: 20pt;
    font-family: sans-serif;
    padding: 10em 0;

}

h1{
	font-size: 2em;
}

.container {
	height: 100%;
	position: relative;
}

.content {
	text-align: center;
	color: black;
}

.content section {
  min-height: 800px;
  width: 80%;
  padding: .3em;
  margin: 0 auto;
}


.btn {
	/*overflow: hidden;
	color: black;
	font-size: 1em;
	background: transparent;*/
	border: none;
	font-size: .7em;
	color: #333;
	padding: 25px 80px;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn:hover,
.btn:active {
	color: black;
}

.btn:hover:after {
	width: 90%;
	opacity: 1;
}

.btn:active:after {
	width: 101%;
	opacity: 1;
}

