* {
  box-sizing: border-box;
}

body {
	background: url('/images/flowers.jpg');
	color: white;
	text-shadow: 0 0 2px black;
    font-size: 24pt;
    font-family: sans-serif;
    padding: 10em 0;

}

section {
  min-height: 800px;
  width: 80%;
  padding: .5em;
  margin: auto;
}

h1, h2, h3{
	text-align: center;

}